body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}

#top {
    text-align: center;
    color: #ffffff;
    background-image: url(donate07.png);
    opacity: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 20px;
}

.need {
    font-size: 60px;

}

.opaque {
    opacity: 90%;
}

.button {
    text-decoration: none;
    color: rgb(251, 251, 251);
    background-image: linear-gradient(rgb(219, 49, 19), red);
    padding: 20px 35px;
    border-radius: 5px;
    font-weight: 800;
}

#donate-amount {
    text-align: center;
    padding: 50px 300px;

}

h2 {
    font-size: 40px;
}

.radio-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input-section {
    position: relative;
    height: 120px;
    width: 120px;
    margin: 25px 10px;
}

.input-section input {
    position: absolute;
    height: 10%;
    width: 10%;
    margin: 0%;
    cursor: cell;
    opacity: 20;
}

.input-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid orangered;
    border-radius: 8px;
    font-weight: 600;
    font-size: 30px;
}